.card{

    border:none;

    border-radius:18px;

    background:white;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

    padding:25px;

}

.card:hover{

    transform:translateY(-5px);

}

.stat-card{

    text-align:center;

    border-top:6px solid #14B8A6;

}

.stat-card h2{

    color:#1E3A5F;

    font-size:42px;

    margin:20px 0;

}

.stat-card p{

    color:#64748b;

}

.chart-card{

    min-height:420px;

}

.table{

    color:#334155;

}

.table thead{

    background:#1E3A5F;

    color:white;

}

.progress{

    height:16px;

    border-radius:20px;

}

.progress-bar{

    background:#14B8A6;

}