body{
    background:#eef3f9;
    font-family:'Poppins',sans-serif;
}

.home-page{
    max-width:1500px;
    margin:auto;
    padding:35px;
}

.dashboard-title{

    color:#1E3A5F;

    font-size:40px;

    font-weight:700;

    margin-bottom:30px;

}

.error-text{

    color:#ef4444;

    text-align:center;

    font-weight:600;

}