.upload-card{

background:white;

padding:40px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

max-width:900px;

margin:auto;

display:flex;

flex-direction:column;

gap:25px;

}

.upload-card h2{

font-size:34px;

font-weight:700;

color:#17375E;

}

.drop-area{

border:3px dashed #2F80ED;

padding:50px;

border-radius:20px;

text-align:center;

cursor:pointer;

transition:.3s;

background:#F9FBFE;

}

.drop-area:hover{

background:#EEF4FB;

}

.upload-icon{

font-size:70px;

color:#2F80ED;

margin-bottom:20px;

}

.drop-area p{

font-size:22px;

font-weight:600;

}

.drop-area span{

color:gray;

}

.filename{

background:#E8F5E9;

padding:15px;

border-radius:12px;

font-weight:600;

}

textarea{

height:130px;

padding:20px;

border-radius:15px;

border:1px solid #ccc;

font-size:18px;

resize:none;

}

button{

background:#17375E;

color:white;

padding:18px;

font-size:20px;

border:none;

border-radius:15px;

font-weight:600;

transition:.3s;

}

button:hover{

background:#2F80ED;

}