*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#0f172a;
  color:white;
}

a{
  text-decoration:none;
}

button{
  border:none;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#6366f1;
  border-radius:20px;
}